body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-transform: uppercase;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);

    grid-template-areas:
        "vertical . . ."
        "vertical . feature feature"
        ". . . .";

    row-gap: 8px;
    column-gap: 8px;

    border-radius: 8px;
    padding: 8px;
    box-shadow: 8px 8px 24px #888888;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    background-color: skyblue;
}

.featureBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: feature;
    color: orange;

}

.verticalBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: orange;
    color: white;
    grid-area: vertical;
}

.verticalBlock h1 {
    rotate: -90deg;
}